.carousel {
  height: fit-content;
  position: relative;
  @include backgroundObjectImage(60%, 60vh);
  @include fadeAnimation(0.5s, 0s);
  @include media($lg) {
    width: 80%;
    min-height: 50vh;
  }
  @include media($md) {
    width: 100%;
    min-height: 30vh;
  }
  .left-arrow {
    position: absolute;
    left: 0;
  }
  .right-arrow {
    position: absolute;
    right: 0;
  }
  .left-arrow,
  .right-arrow {
    @include flex(row, center, center);
    border: none;
    height: 100%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.568);
    .arrow-icon {
      // background-color: $secondary;
      fill: $white;
      border-radius: 100%;
      border: none;
      padding: 0 !important;
      margin: 0 !important;
    }
  }
}
