.card {
  @include flex(column, center, center);
  gap: 0.5rem;
  width: fit-content;
  border-radius: 10px;
  padding-bottom: 0.5rem;
  @include boxShadow;
  width: 400px;
  height: 300px;
  cursor: pointer;
  img {
    border-radius: 10px;
  }
  h2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  @include media($xs) {
    img {
      width: 90vw;
    }
  }
}
