#about {
  @include sectionStyle;
  @include grid(48% 48%);
  width: 100%;
  @include media($md) {
    @include flex(column, center, center);
    gap: 5vh;
  }
  .content {
    width: 100%;
    @include flex(row, center, center);
    p {
      width: 80%;
      font-size: 1.2rem;
      @include media($md) {
        width: 100%;
        height: auto;
      }
    }
  }
  .image {
    width: 100%;
    position: relative;
    @include flex(row, center, center);
    img {
      width: 80%;
      height: auto;
      border-radius: 10px;
      @include media($md) {
        width: 100%;
        height: auto;
      }
    }
  }
}
