#portfolio {
  @include flex(column, center, center);
  @include sectionStyle;
  padding: 5vh 0;
  width: 100%;
  h1 {
    font-size: 2.5rem;
  }
  .cards-container {
    @include cardsContainerStyle;
  }
}
