.contact {
  @include flex(column, center, center);
  @include sectionStyle;
  gap: 10vh;
  @include fadeAnimation(0.5s, 0.1s);
  .contact-paragraph {
    font-weight: 400;
    width: 70%;
    text-align: center;
    font-size: 1.6rem;
    min-height: fit-content;
    @include media($xs) {
      width: 94%;
      min-height: 80vh;
      @include flex(column, center, center);
    }
  }
}
